header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 50px;
    animation: slideInFromBottom 1s;
}

.paragraph {
    font-family: Arial, sans-serif;
    margin: 10px; /* Add margin for spacing around the paragraph */
    padding: 20px; /* Optional padding for better spacing */
    background-color: #fafafa; /* Change background color for contrast */
    border-radius: 40px; /* Less rounded for paragraphs */
    font-size: 1em; /* Example font size for paragraphs */
    color: #666; /* Adjust text color */
    animation: slideInFromBottom 1s;
    overflow: scroll;
    scrollbar-width: none;
}

nav {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #d5ffee;
    border-radius: 50px;
}

nav a {
    color: #333;
    padding: 2px;
    margin: 2px;
    background-color: #d5ffee;
    border-radius: 10px;
    border: 1px solid #92a39c;
}

nav a:hover {
    color: #ebc6c6;
}

.paragraph.secondary {
    animation: slideInFromBottom 1s;
}

.container {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    font-size: 0.8em; /* Smaller scale compared to header */
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: slideInFromBottom 1s;
    left: 0;
    right: 0;
}

#soltweaks-logo {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    float: right;
    padding: 10px;
    object-fit: contain;
}

.indented-paragraph {
    text-indent: 2em; /* Indent the first line of the paragraph */
}